.toolbar {
  margin-bottom: 15px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: floralwhite;
  box-shadow: 0 4px 5px darkgray;
  &__controls {
    display: flex;
    align-items: stretch;
    gap: 10px;
  }
  &__btn {
    width: 45px;
    height: 45px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 2px lightgrey;
    &:hover {
      background-color: aliceblue;
    }
    &:active {
      background-color: lavender;
    }
    &Active {
      border-color: red;
    }
  }
}
